:root {
  --main-color: #1992d4;
  --secondary-color: #f0b429;
  --white: #fff;
  --medium-white: #e2e8f0;
  --titles: #353535;
  --texts: #6e6e6e;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

nav {
  background-color: var(--main-color);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  color: white;
  padding: 32px;
  display: flex;
  flex-flow: column;
  gap: 64px;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
}

.nav-group {
  font-size: 1.25rem;
  display: flex;
  flex-flow: column;
  gap: 32px;
}

header {
  background-color: var(--white);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  font-weight: bold;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 8px;
  display: flex;
}

.searchbar input {
  background-color: var(--medium-white);
  font-size: 1.25rem;
  border: none;
  padding: 8px 32px;
  border-radius: 24px;
  box-shadow: inset 4px 4px 8px 1px rgba(0, 0, 0, 0.08);
}

.user-area {
  display: flex;
  align-items: center;
}

.notifications a {
  text-decoration: none;
  color: var(--title);
}

.profile-picture-sm img {
  height: 2rem;
  border-radius: 50%;
}

.header-wrapper,
.greeting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture-md img {
  height: 6rem;
  border-radius: 50%;
  margin-right: 24px;
}

.greeting {
  font-size: 1.5rem;
  line-height: 1.25;
}

.user-area {
  display: flex;
  gap: 16px;
}

.header-buttons {
  display: flex;
  gap: 16px;
}

button {
  background-color: var(--main-color);
  color: white;
  font-size: 1.25rem;
  padding: 8px 32px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  font-weight: bold;
}

main {
  background-color: var(--medium-white);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  padding: 32px;
  box-shadow: inset 4px 4px 8px 1px rgba(0, 0, 0, 0.08);
}

.projects-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.project-card {
  background-color: var(--white);
  padding: 16px 32px;
  border-radius: 8px;
  border-left: 8px solid var(--secondary-color);
}

.project-card,
.card-announcements,
.card-trending {
  box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 8%);
}

header,
h2,
h3,
h4,
.profile-wrapper .username {
  color: var(--titles);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 4px;
}

p,
.announcement p,
.profile-wrapper .name {
  color: var(--texts);
}

.projects {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.announcements {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
}

.card-announcements,
.card-trending {
  background-color: var(--white);
  padding: 16px 32px;
  border-radius: 8px;
}

.card-announcements div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 16px 0;
}

.card-announcements div:last-of-type {
  border: none;
}

.trending {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

.card-trending {
  padding: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.trending-profile {
  display: flex;
}
.profile-wrapper .username {
  font-weight: bold;
  margin-bottom: 4px;
}
.profile-wrapper .name {
  font-size: 0.75rem;
}
